@import 'tailwindcss';
@import 'tw-animate-css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

@theme {
  --max-width-container: 1440px;
  --animate-matrix: matrix 1s infinite linear;
  --shadow-card-reverse: 0px -10px 20px -10px rgba(0, 0, 0, 0.1);

  @keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%;
    }
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%;
    }
  }
}
